@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) {
        @content;
      } //600px
    }
    @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) {
        @content;
      } //900px
    }
    @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) {
        @content;
      } //1200px
    }
    @if $breakpoint == mid-desktop {
      @media only screen and (max-width: 90em) {
        @content;
      } //1440px
    }
    @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) {
        @content;
      } //1800
    }
  }


.introduction{
    height: 95vh;
    background-image: linear-gradient(to right bottom,#cc2b5e,#753a88);
    background-size: cover;
    background-position: top;
    position: relative;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    font-family: 'Montserrat', sans-serif;

    .particle-js{
        height: fit-content;
        @include respond(phone) {
            display: none;
        }
    }

    &__share-buttons{
        text-align: right;

        @include respond(phone) {
            text-align: center;
        }

        @mixin link-properties {
            display: inline-block;
            border: none;
            text-transform: uppercase;
            text-decoration: none;
            font-size: 1.5rem;
            color: #753a88;
            background-color: #fff;
            padding: 1rem 2rem;
            border-radius: 10rem;
            cursor: pointer;
            font-weight: 500;
            border: none; 
        }

        .links__btn-linked-in{
            @include link-properties(); 
            margin: 3rem 0;
        }
        .links__btn-mailer{
            @include link-properties();  
            margin-top: 3rem;
            margin-bottom: 3rem;
            margin-right: 3rem;
            margin-left: .8rem;

            @include respond(phone) {
                margin-right: 0;
            }
        }
    }

    &__text-box{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        
        @include respond(phone) {
            top: 52%;
        }
    }

    &-primary{
        color: #fff;
        backface-visibility: hidden;
        margin-bottom: 6rem;

        &--main{
            font-size: 4rem;
            text-transform: uppercase;
            // letter-spacing: 3.5rem;
    
            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;

            @include respond(phone) {
                font-size: 3rem;
            }

        }

        &--sub{
            font-size: 2.15rem;
            display: block;
    
            animation-name: moveInLeft;
            animation-duration: 1s;
            animation-timing-function: ease-out;

            @include respond(phone) {
                font-size: 1.6rem;
            }


            & > p{
                font-weight: 400;
            }

        }
    }

    &__photo{
        height: 30rem;
        width: 30rem;
        border-radius: 50%;
        border: 10px solid #fff;

        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;

        @include respond(phone) {
            height: 20rem;
            width: 20rem;
        }
        
    }

    @keyframes moveInBottom {
        0% {
            opacity: 0;
            transform: translateY(3rem);
        }
    
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }

    @keyframes moveInRight {
        0% {
            opacity: 0;
            transform: translateX(10rem);
        }
    
        80% {
            transform: translateX(-1rem);
        }
    
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }

    @keyframes moveInLeft {
        0% {
            opacity: 0;
            transform: translateX(-10rem);
        }
    
        80% {
            transform: translateX(1rem);
        }
    
        100% {
            opacity: 1;
            transform: translate(0);
        }
    }
}