@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } //600px
  }
  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } //900px
  }
  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } //1200px
  }
  @if $breakpoint == mid-desktop {
    @media only screen and (max-width: 90em) {
      @content;
    } //1440px
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800
  }
}

.information-container{
    height: 85vh;
    background-image: linear-gradient(to right bottom,#cc2b5e,#753a88);
    background-size: cover;
    background-position: top;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(phone) {
      height: 95vh;
    }

    &__card{
        height: auto;
        width: 90%;
        position: absolute;
        background-color: #faf9f9;
        background-size: cover;
        padding: 4.5rem;
        border-bottom: 1px solid #f4f2f2;
        box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.6);
        flex: 0 0 100%;

        @include respond(phone) {
          padding: 1.8rem 2rem;
        }

        &-heading{
            display: flex;
            justify-content: center;
            font-size: 3.8rem;
            text-transform: uppercase;
            font-weight: 700;
            background-image: linear-gradient(to right, #cc2b5e, #753a88);
            -webkit-background-clip: text;
            color: transparent;
            letter-spacing: .1rem;
            transition: all .2s;
            border-bottom: 1px solid #f4f2f2;

            @include respond(phone) {
              font-size: 2.8rem;
            }

            &:hover {
                transform: scaleY(1.2);
                text-shadow: .5rem 1rem 2rem rgba(#000, .2);
            }
            
        }
    }

    .content-heading{
      margin-top: 2.2rem;
      display: block;
      font-weight: 400;
      text-decoration: none;
      color: #333333;
      position: relative;
      border: 1px solid white;
      font-size: 1.6rem;
      padding: 1.2rem;
      background: #00ac9d;
      color: white;

      @include respond(phone) {
        font-size: 1.3rem;
      }
    }

    .content-info{
      font-size: 2rem;
      padding: 1.2rem;
      background: #eee;
      color: #333333;

      @include respond(phone) {
        font-size: 1.2rem;
      }
    }

}
