.skills-container{
    position: relative;
    padding-bottom: 10rem;

    @mixin respond($breakpoint) {
        @if $breakpoint == phone {
          @media only screen and (max-width: 37.5em) {
            @content;
          } //600px
        }
        @if $breakpoint == tab-port {
          @media only screen and (max-width: 56.25em) {
            @content;
          } //900px
        }
        @if $breakpoint == tab-land {
          @media only screen and (max-width: 75em) {
            @content;
          } //1200px
        }
        @if $breakpoint == mid-desktop {
          @media only screen and (max-width: 90em) {
            @content;
          } //1440px
        }
        @if $breakpoint == big-desktop {
          @media only screen and (min-width: 112.5em) {
            @content;
          } //1800
        }
      }

    .bg-video {
        position: absolute;
        margin-top: -20vh;
        top: 0;
        left: 0;
        height: 150%;
        width: 100%;
        z-index: -1;
        opacity: .15;
        overflow: hidden;
    
        &__content {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .u-margin-bottom-big{
        margin-bottom: 6rem !important;
        text-align: center;
    }

    &__heading{
        font-size: 3.8rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right, #cc2b5e, #753a88);
        -webkit-background-clip: text;
        color: transparent;
        letter-spacing: .1rem;
        transition: all .2s;

        @include respond(phone) {
            font-size: 2.8rem;
        }

        &:hover {
            transform: skewY(2deg) skewX(15deg) scale(1.1);
            text-shadow: .5rem 1rem 2rem rgba(#000, .2);
        }
        

    }

    .skill-card-list{
        position: relative;
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(16%, 1fr));
        column-gap: 20px;
        row-gap: 30px;
        z-index: 2;

        @include respond(tab-land) {
            // width < 1200?
            grid-template-columns: repeat(auto-fit, minmax(22%, 1fr));
          }
          @include respond(tab-port) {
            // width < 900?
            grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
          }
          @include respond(big-desktop) {
            grid-template-columns: repeat(auto-fit, minmax(15%, 1fr));
          }

        .card-container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: transparent;
            font-size: 1.5rem;
            padding: 2rem;
            text-align: center;
            border-radius: 3px;
            box-shadow: 0 1.5rem 4rem rgba(#000, .15);
            cursor: pointer;
            -moz-osx-font-smoothing: grayscale;
            backface-visibility: hidden;
            transform: translateZ(0);
            transition: transform 0.3 ease-out;

            &-images{
                height: auto;
                width: 100%;
            }

            &:hover{
                transform: scale(1.05);
            }
        }
    }
}